#ignore all root files but not directories
*
!*/

#ignore directories
Desktop/
Downloads/
Videos/
Music/
Pictures/
Public/
Templates/
.local/
.cargo/
.vscode/

#unignore things

#bash
!.bash_logout
!.bash_profile
!.bashrc
!.profile

#git
!.gitconfig
!.gitignore

#this
!.todo
!.scripts/*

#framework
!.sway/*
.config/
!.config/sway/
!.config/waybar/
!.config/**/config

#ssh
!.ssh/config

#vim
!.vimrc

#zsh
!.zprofile
!.zshenv
!.zshrc


#later

# !Workspace/placeholder
# !Workspace/vov/placeholder
Workspace/*
!Workspace/**/placeholder


#later dirs
.zsh_plugins/
.vim/

#later unignore

# !.vim/*
# !.zsh_plugins/*






