
#general
**
!.gitignore
!.gitconfig
!Workspace/vov/placeholder
!.scripts/*
!.todo
!.profile
!.ssh/config

#bash
!.bashrc
!.bash_profile
!.bash_logout

#vim
!.vimrc
!.vim/*

#zsh
!.zshenv
!.zprofile
!.zshrc
!.zsh_plugins/*

#framework
!.sway/*
!.config/sway/config
!.config/waybar/config

