#git
*
!*/
*/*
!.gitignore
!.gitconfig

#Workspace
!Workspace/vov/placeholder

#this
!.scripts/*
!.todo

#ssh
!.ssh/config

#bash
!.bash_profile
!.profile
!.bashrc
!.bash_logout

#vim
!.vimrc
!.vim/*

#zsh
!.zshenv
!.zprofile
!.zshrc
!.zsh_plugins/*

#framework
!.sway/*
!.config/sway/config
!.config/waybar/config

