[Desktop Entry]
Name=Card Creatr Studio
Exec=toolbox --container card-creatr run bash -c "cd ~/bin/card-creatr-studio; npm start"
Icon=applications-games
Terminal=false
Type=Application
Categories=Graphics;
